<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{AdminModule/base :: header}"></header>
<body>

<div th:replace="~{AdminModule/base :: loader}"></div>

<div class="main-wrapper">

    <div th:replace="~{AdminModule/base :: navside}"></div>

    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Event List</h4>
                    <h6>View Events</h6>
                </div>
                <!--                <div class="page-btn">-->
                <!--                    <a href="newstate.html" class="btn btn-added"><img src="assets/img/icons/plus.svg" alt="img" class="me-2">Add State</a>-->
                <!--                </div>-->
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-input">
                                <a class="btn btn-searchset">
                                    <img th:src="@{/assets/admin/img/icons/search-white.svg}" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img th:src="@{/assets/admin/img/icons/pdf.svg}" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img th:src="@{/assets/admin/img/icons/excel.svg}" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img th:src="@{/assets/admin/img/icons/printer.svg}" alt="img"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table datanew">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Event Image</th>
                                <th>Event Name</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Total Tickets</th>
                                <th>Ticket Price</th>
                                <th>Event Organisers Name</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Address</th>
                                <!--                                <th>Actions</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="event : ${events}">
                                <td th:text="${event.id}"></td>
                                <td>
                                    <img th:if="${event.eventImage}" th:src="@{'/uploads/' + ${event.eventImage}}" alt="Event Image"
                                         width="100"><br>

                                </td>
                                <td th:text="${event.eventName}"></td>
                                <td th:text="${event.eventDate}"></td>
                                <td th:text="${event.eventDescription}"></td>
                                <td th:text="${event.totalTicket}"></td>
                                <td th:text="${event.eventPrice}"></td>
                                <td th:text="${event.eventOrganizer.name}"></td>
                                <td th:text="${event.startTime}"></td>
                                <td th:text="${event.endTime}">
                                <td th:text="${event.eventAddress}">
                                <!--                                <td th:text="${customer.role.name}"></td>-->
                                <!--                                <td>-->
                                <!--                                    <a class="me-3" th:href="@{/admin/manage-events/{id}(id=${event.id})}">-->
                                <!--                                        <img th:src="@{/assets/admin/img/icons/edit.svg}" alt="img">-->
                                <!--                                    </a>-->
                                <!--                                    <a class="me-3 confirm-text" th:href="@{/admin/manage-events/delete/{id}(id=${event.id})}">-->
                                <!--                                        <img th:src="@{/assets/admin/img/icons/delete.svg}" alt="img">-->
                                <!--                                    </a>-->
                                <!--                                </td>-->
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{AdminModule/base :: libs}"></footer>
</body>
</html>